[Unit]
Description=CAdvisor Service
 
[Service]
ExecStart={{cepfolder}}/cep/cAdvisor/cadvisor
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
Alias=cadvisor.service